@import "//at.alicdn.com/t/c/font_4654015_ku26tu6yewo.css";
/* @font-face {
  font-family: "iconfont";
  src: url('../assets/iconfont.ttf') format('truetype');
} */

/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ego-menu:before {
  content: "\e605";
}

.icon-gongchengxiangmu:before {
  content: "\e677";
}

.icon-diqiushijiehaiwaiquanqiuhuaxianxing:before {
  content: "\ea35";
}

.icon-tuichu:before {
  content: "\e652";
}

.icon-geren:before {
  content: "\e61c";
}

.icon-xiangmu:before {
  content: "\e66c";
} */



/* 小火花彩色图标 */
@import "//at.alicdn.com/t/c/font_4704236_m5k3kws7azo.css";