@import "@/assets/styles/variables.less";

.toolbar {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.toolbar-group {
  margin-right: 20px;
}

.simple-editor-content {
  padding: 10px;
  min-height: 300px;
}

.mobile-toolbar {
  display: flex;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
